# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
var/

# logs
pip-log.txt
pip-delete-this-directory.txt
logs/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/